@font-face {
	font-family: chalk;
	src: url('../fonts/chalk.ttf');
}
::-webkit-scrollbar { 
    display: none; 
}
body { background: #fff url('../img/bg2.png') repeat-y 0% 100% fixed; background-size: 100%;} /* overflow: hidden; }*/
h1.bigger { font-size: 6.0rem; line-height: 6.0rem; }
h2.bigger { font-size: 3.5rem; line-height: 3.5rem; }
div.torneos li.active { font-weight: bold; }
.hidden { display: none; }
textarea { font-family: 'Segoe UI_', 'Open Sans', Verdana, Arial, Helvetica, sans-serif; }
.padding10 { padding: 10px !important}
div.teams div.row { margin-top: 30px !important; }
div.teams button { font-size: 36pt !important; margin-bottom: 30px; text-transform: uppercase; letter-spacing: -2px; font-weight: bold; padding-right: 75px !important;}
div.teams button i { font-size: 20pt !important}
div.teams button, div.teams button i { line-height: 36pt !important;}
div.teams button { border: 2px solid #fff}
div.teams button:focus { border: 2px solid #fff !important}
div.teams button.active { border: 2px solid #fff; }
div.teams button.inactive { border: 2px solid #fff; }

/* Source: http://jsfiddle.net/7xvGp/ */
div.teams button.active {
    border: 1px solid transparent;    
    -webkit-transition: border 0.1s linear, box-shadow 0.1s linear;
       -moz-transition: border 0.1s linear, box-shadow 0.1s linear;
            transition: border 0.1s linear, box-shadow 0.1s linear;
}

div.teams button.active.glowing {
    border-color: red;
    -webkit-box-shadow: 0 0 20px red;
       -moz-box-shadow: 0 0 20px red;
            box-shadow: 0 0 20px red;
}


.preguntas img {margin-right: 3px;margin-bottom: 18px;margin-left: 5px;width: 38px;}
.preguntas span div.badge-pregunta {display: inline-block;padding: 2px 4px;margin-bottom: 7px;text-align: center;font-size: 26pt;width: 47px;padding-top: 3px;font-weight: normal !important;margin-left: 2px;}
.preguntas span div.badge-pregunta:hover { text-decoration: underline; }
h2.pregunta {font-size: 27pt;text-align: center;line-height: 1.1em;letter-spacing: -1px;font-weight: bold;word-spacing: initial;}
div.selector-respuestas { margin-top:5px !important;}
div.selector-respuestas button {font-size: 15pt !important;line-height: 1em !important;height: 2.5em; font-weight: bold} 
div.lugares { position: relative }
/*div.lugares.lugar_1 { top: 20px; left: 165px; }*/
div.lugares.lugar_2, div.lugares.lugar_3 { margin-top: 60px; }
div.lugares.lugar_1 button, div.lugares.lugar_2 button, div.lugares.lugar_3 button {display:block; margin:0; padding:5px 10px !important; font-size: 21pt !important;line-height: 1em !important; }
div.lugares span{ font-size: 20pt}
div.respuesta-countdown ul li { line-height: 87px !important; }
.flip-clock-wrapper{width: 300px;margin: auto}
/*div.logos img { display: inline-block; margin-bottom: 60px }
div.logos { position: fixed;width: 220px;right: 10px;}*/
.logo_reto, .logo_cem { position: absolute;}
.logo_reto { right: 20px;width: 170px;}
.logo_cem { left: 20px; margin-top: 30px;width: 110px;}
.logos-inner {height: 110px;position: absolute;margin-left: -90px;margin-top: -27px;}
.logo-cem { margin-left: -7px !important;}
.strong { font-weight: bold !important; }
table.resumen th {font-size: 29px !important;line-height: 1em !important;vertical-align: middle !important;}
table.resumen th.number-strong { font-size: 34pt !important; height: 3em; }
button.empate-button { font-size: 28pt !important; line-height: 52px !important;}
button.finales-button { font-size: 34pt !important; line-height: 52px !important;}
h1 { font-weight: bolder !important; }
.metro .panel { border: none }
table.pizarra, table.pizarra td, table.pizarra th { background: none; border: none !important; font-weight: normal }
table.pizarra { height: 320px }
img.icono_equipos { position:  absolute; margin-top: -25px; z-index: 1; margin-left: -10px; height: 110px; }
table.pizarra, table.pizarra strong, .resumen, .badge-pregunta { color: #fff; font-family: chalk !important; }
.badge-pregunta {color:#555;}
div.pizarra {padding: 20px; background-image: url("../img/pizarra.png");background-repeat: no-repeat;background-position: 0px 0px;background-size: 100% 100%;}
.exito-h2 { color: black;position: absolute;top: 120px;font-size: 30pt !important; font-weight: bold !important; line-height: 1em !important}
.perder-h2 { color: black;position: absolute;top: 220px;font-size: 21pt !important; font-weight: bold !important; line-height: 1em !important}
button { font-weight: bold !important; }
.metro .image-button img { width: 40px; }
div.podio { position: relative; top:-30px;}
